<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <h2>CPU</h2>
  <ul> USED: {{disk_usage["used"]}} </ul>
  <ul> FREE: {{disk_usage["free"]}} </ul>
  <ul> TOTAL: {{disk_usage["total"]}} </ul>
  <ul> PERCENT: {{disk_usage["percent"]}} </ul>  
  <h2>Disco</h2>
  <ul> USED: {{disk_usage["used"]}} </ul>
  <ul> FREE: {{disk_usage["free"]}} </ul>
  <ul> TOTAL: {{disk_usage["total"]}} </ul>
  <ul> PERCENT: {{disk_usage["percent"]}} </ul>  
  
</body>
</html> -->

<script src="node_modules/gridstack/dist/gridstack-h5.js"></script>
<script src="{{ url_for('node_modules/gridstack/dist', filename='dashboard.js') }}"></script>
<!-- "{{ url_for('static', filename='dashboard.js') }}" -->
<link href="node_modules/gridstack/dist/gridstack.min.css" rel="stylesheet"/>
<style type="text/css">
  .grid-stack { background: #FAFAD2; }
  .grid-stack-item-content { background-color: #18BC9C; }
</style>

<div class="grid-stack"></div>

<script type="text/javascript">
  var items = [
    {content: 'my first widget'}, // will default to location (0,0) and 1x1
    {w: 2, content: 'another longer widget!'} // will be placed next at (1,0) and 2x1
  ];
  var grid = GridStack.init();
  grid.load(items);
</script>