<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <h2>CPU</h2>
  <ul> USED: {{disk_usage["used"]}} </ul>
  <ul> FREE: {{disk_usage["free"]}} </ul>
  <ul> TOTAL: {{disk_usage["total"]}} </ul>
  <ul> PERCENT: {{disk_usage["percent"]}} </ul>  
  <h2>Disco</h2>
  <ul> USED: {{disk_usage["used"]}} </ul>
  <ul> FREE: {{disk_usage["free"]}} </ul>
  <ul> TOTAL: {{disk_usage["total"]}} </ul>
  <ul> PERCENT: {{disk_usage["percent"]}} </ul>  
  
</body>
</html>